.new-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 25px;
}

button {
    margin: auto 10px;
    font-size: 18px;
}

.mistakes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 25px;
}

#mistakes {
    margin-left: 10px;
}

#board {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#board .tile {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-spacing: 0;
    border: 1px dimgrey solid;
    background-color: rgba(211, 211, 211, 0.2);
    font-family: "Kode Mono";
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tile {
    color: rgba(0, 0, 0, 0.5);
}

.beginning-tile {
    color: black;
}

.right-border {
    border-right: 2px black solid !important;
}

.bottom-border {
    border-bottom: 2px black solid !important;
}

